# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you: 
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

title: Recipes for Resistance
email: recipes4resistance@gmail.com
description: >- # this means to ignore newlines until "baseurl:"
  We provide a platform for minoritized voices to discuss how to foster 
  equity in Computer Science (CS) and CS Education (CSE) fields. We seek to elevate voices 
  and ideas beyond those traditionally centered, including CS teachers, 
  parents, students, and community members whose lived experiences 
  include doing work by and for their communities.

baseurl: "/" # the subpath of your site, e.g. /blog
url: "https://recipes4resistance.github.io" # the base hostname & protocol for your site, e.g. http://example.com
twitter_username: recipes4resist
github_username:  recipes4resistance

author: Recipes for Resistance

# for contact form
formspree:
  form_id: xknenbbr

# Build settings
# remote_theme: StartBootstrap/startbootstrap-clean-blog-jekyll
# theme: jekyll-theme-clean-blog
plugins:
  - jekyll-feed

markdown: kramdown
paginate: 5
paginate_path: "/podcast/page:num/"
plugins:
  - jekyll-feed
  - jekyll-paginate
  - jekyll-sitemap

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
