---
layout: page
title: Podcast Episodes
---

<h2>A Multi-Modal Podcast Centering Justice, Joy, and Healing</h2>
<p>As a <i>multi-modal</i> podcast, our episodes consist of three parts, <a href="/about#podcast">learn more about our podcast structure on our about page</a>.</p>

<p>To get email alerts of our episode releases, sign up for email updates at the bottom of this page or follow us on one of the platforms below:</p>
<ul>
  <li><a href="https://music.amazon.com/podcasts/0c0118d3-3ca3-4682-9f69-8d34b557d013">Amazon Music</a></li>
  <li><a href="https://anchor.fm/recipes4resistance">Anchor.fm</a></li>
  <li><a href="https://podcasts.apple.com/us/podcast/recipes-for-resistance/id1654162496">Apple Podcasts</a></li>
  <li><a href="https://castbox.fm/channel/id5208205">Castbox</a></li>
  <li>Google Podcasts (coming soon)</li>
  <li><a href="https://www.iheart.com/podcast/269-recipes-for-resistance-104454855/">iHeartRadio</a></li>
  <li>Overcast (coming soon)</li>
  <li><a href="https://www.pandora.com/podcast/recipes-for-resistance/PC:1001036499">Pandora</a></li>
  <li><a href="https://pca.st/e47zvo48">Pocket Casts</a></li>
  <li>SiriusXM (find us as Recipes for Resistance)</li>
  <li><a href="https://open.spotify.com/show/6yHSrtZM12d3VhhL099ff6">Spotify</a></li>
  <li><a href="https://www.stitcher.com/show/1036499">Stitcher</a></li>
  
<p>If you'd like to contribute to an episode's follow up, please feel free to <a href="/contact">reach out to us</a>. We'd love to feature art, poetry, think pieces, and other forms of media inspired by the conversations from our podcast!</p>

{% for post in paginator.posts %}

<article class="post-preview">
  <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
    <h2 class="post-title">{{ post.title }}</h2>
    {% if post.subtitle %}
    <h3 class="post-subtitle">{{ post.subtitle }}</h3>
    {% else %}
    <h3 class="post-subtitle">{{ post.excerpt | strip_html | truncatewords: 15 }}</h3>
    {% endif %}
  </a>
  <p class="post-meta">Posted by
    {% if post.author %}
    {{ post.author }}
    {% else %}
    {{ site.author }}
    {% endif %}
    on {{ post.date | date: '%B %d, %Y' }} &middot; {% include read_time.html content=post.content %}
  </p>
</article>

<!-- <hr> --> <!-- commenting out for now, bring back when buttons come in -->

{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}

<div class="clearfix">

  {% if paginator.previous_page %}
  <a class="btn btn-primary float-left" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr;
    Newer<span class="d-none d-md-inline"> Posts</span></a>
  {% endif %}

  {% if paginator.next_page %}
  <a class="btn btn-primary float-right" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older<span class="d-none d-md-inline"> Posts</span> &rarr;</a>
  {% endif %}

</div>

{% endif %}
